# core package for building the JupyterLite website
jupyterlite-core
# dependency for indexing the content

# Python kernel (optional)
jupyterlite-pyodide-kernel

jupyterlab

ephemeral-notebooks==0.1.6