# core package for building the JupyterLite website #==0.1.0b19
jupyterlite-core
# the Python kernel powered by Pyodide #==0.0.5
jupyterlite-pyodide-kernel
# dependency for indexing the content


jupyterlab

ephemeral-notebooks==0.1.6